<div class="wishlist-container">
  <div class="back-header">
    <button routerLink="/" class="btn btn-outline-primary mb-4">
      <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Movies
    </button>
  </div>

  <div *ngIf="wishlistItems.length === 0" class="empty-wishlist">
    <fa-icon [icon]="faHeartBroken" class="broken-heart"></fa-icon>
    <p>Your watchlist is empty</p>
  </div>

  <div *ngIf="wishlistItems.length > 0" class="movie-grid">
    <div *ngFor="let item of wishlistItems" class="movie-card">
      <div class="poster">
        <img [src]="getPosterUrl(item.poster_path)" 
             [alt]="item.title"
             (error)="handleImageError($event)">
        <div class="action-buttons">
          <button (click)="remove(item.id)" class="remove-btn" title="Remove from watchlist">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
          <button (click)="toggle(item)" class="heart-btn" title="Toggle watchlist">
            <fa-icon [icon]="fasHeart"></fa-icon>
          </button>
        </div>
      </div>
      
      <div class="movie-info">
        <h3>{{ item.title }}</h3>
        
        <div class="movie-meta">
          <div class="meta-item">
            <fa-icon [icon]="faCalendar"></fa-icon>
            <span>{{ item.release_date | date:'yyyy' }}</span>
          </div>
          
          <div class="meta-item">
            <fa-icon [icon]="faStar"></fa-icon>
            <span>{{ item.vote_average | number:'1.1-1' }}</span>
          </div>
          
          <div class="meta-item" *ngIf="item.runtime">
            <fa-icon [icon]="faClock"></fa-icon>
            <span>{{ item.runtime }} min</span>
          </div>
        </div>
        
        <div class="overview-container" *ngIf="item.overview">
          <p class="overview">{{ item.overview }}</p>
        </div>


        <div class="card-footer">
          <button [routerLink]="['/movie', item.id]" class="details-btn btn btn-outline-primary">
            More Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>